<div class="row">
  <div class="search-by-city">
    <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="&#61442;  Start searching for a race by city">
  </div>
  <button mat-stroked-button color="primary" (click)="searchByCity(searchText)">Search city</button>
</div>




  <div class="threeGrid">
    <div *ngFor="let event of events"   >
      <div *ngIf="!eventInCityNotExistMessage">
        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title class="text-color">{{event.eventName}}</mat-card-title>
            <mat-card-subtitle class="text-color">{{event.eventDescription}}</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="{{event.eventPhotoUrl}}">
          <mat-card-content>
            <p><b>Event city: </b>{{event.eventCity}}</p>
            <p><b>Event country: </b> {{event.eventCity}}</p>
            <p><b>Event date: </b>{{event.eventDate.toString().substring(0,10)}}</p>
            <a href="{{event.eventRegistrationLink}}">Click on the link to register for the race: {{event.eventRegistrationLink}}</a>
          </mat-card-content>
        </mat-card>
      </div>



      </div>

  </div>

<div *ngIf="eventInCityNotExistMessage" class="error-style">
  <h2>There are no events in this city yet!</h2>
</div>





