<!--<div class="container jumbotron" >-->
<!--  <h1 class="text-color"><b>Event aggregator for athlete races in Macedonia</b></h1>-->
<!--  <br>-->
<!--  <p class="text-color">if you want to see where and when there is an athletic race in Macedonia, what you have to do is to register on the site and log in. You have all the information about a specific race, and you also have a link that leads to registration and payment for participation in the race itself.-->
<!--  </p>-->
<!--</div>-->

<!--<div class="container jumbotron">-->
<!--  -->
<!--</div>-->


<section class="container-fluid intro slim" style="background-image: url('https://wmimg.azureedge.net/public/img/category-pages/dfe6a108-dce2-43a9-87ba-e6a1b6d41a12.jpg');">
  <div class="main-content v-align-57">
    <div class="title">
      <h1>Macedonia Marathon Events - Choose Your Amazing Marathon Destination</h1>
    </div>
  </div>
</section>
