<div class="threeGrid">

  <div *ngFor="let event of events">

    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>{{event.eventName}}</mat-card-title>
        <mat-card-subtitle>{{event.eventName}}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="{{event.eventPhotoUrl}}" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>Event city: <b>{{event.eventCity}}</b></p>
        <p>Event country: <b>{{event.eventCity}}</b></p>
        <p>Event date: <b>{{event.eventDate.toString().substring(0,10)}}</b></p>
      </mat-card-content>
      <button mat-raised-button color="primary" class="buttons" (click)="updateEvent(event.eventId)">Edit</button>
      <button mat-raised-button color="warn" class="buttons" (click)="deleteEvent(event.eventId)">Delete</button>


    </mat-card>

  </div>

</div>

